In [1]:
import pandas as pd
import numpy as np

In [2]:
抽样分布演示文件 = pd.read_csv('抽样分布演示文件2.csv', encoding='gbk')

In [3]:
print(抽样分布演示文件.columns)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', '平均值', '出现次数'],
      dtype='object')

In [4]:
抽样分布演示文件 ['平均值']

0      7.5
1      7.3
2      7.2
3      7.2
4      7.0
      ...
212    NaN
213    NaN
214    NaN
215    NaN
216    NaN
Name: 平均值, Length: 217, dtype: float64

In [5]:
抽样分布演示文件 [['平均值','出现次数']]

     平均值  出现次数
0    7.5   1.0
1    7.3   1.0
2    7.2   1.0
3    7.2   2.0
4    7.0   1.0
..   ...   ...
212  NaN   NaN
213  NaN   NaN
214  NaN   NaN
215  NaN   NaN
216  NaN   NaN

[217 rows x 2 columns]

In [6]:
抽样分布演示文件.loc[0]

Unnamed: 0     5.0
Unnamed: 1     6.0
Unnamed: 2     7.0
Unnamed: 3     8.0
Unnamed: 4     9.0
Unnamed: 5    10.0
平均值            7.5
出现次数           1.0
Name: 0, dtype: float64

In [7]:
抽样分布演示文件.set_index('平均值')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,出现次数
平均值,,,,,,,
7.5,5.0,6.0,7.0,8.0,9.0,10.0,1.0
7.3,4.0,6.0,7.0,8.0,9.0,10.0,1.0
7.2,3.0,6.0,7.0,8.0,9.0,10.0,1.0
7.2,4.0,5.0,7.0,8.0,9.0,10.0,2.0
7.0,2.0,6.0,7.0,8.0,9.0,10.0,1.0
...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
抽样分布 = 抽样分布演示文件.set_index('平均值')

In [9]:
抽样分布.loc[7.5]

Unnamed: 0     5.0
Unnamed: 1     6.0
Unnamed: 2     7.0
Unnamed: 3     8.0
Unnamed: 4     9.0
Unnamed: 5    10.0
出现次数           1.0
Name: 7.5, dtype: float64

In [10]:
抽样分布.loc[7.5,'出现次数']

1.0

In [11]:
抽样分布.loc[5.2,['Unnamed: 1','出现次数']]

     Unnamed: 1  出现次数
平均值
5.2         2.0   1.0
5.2         2.0   2.0
5.2         2.0   3.0
5.2         2.0   4.0
5.2         2.0   5.0
5.2         2.0   6.0
5.2         2.0   7.0
5.2         3.0   8.0
5.2         3.0   9.0
5.2         3.0  10.0
5.2         3.0  11.0
5.2         4.0  12.0
5.2         3.0  13.0
5.2         3.0  14.0
5.2         3.0  15.0
5.2         3.0  16.0

In [12]:
抽样分布.loc[5.8,['Unnamed: 2','出现次数']]

     Unnamed: 2  出现次数
平均值
5.8         5.0   1.0
5.8         6.0   2.0
5.8         4.0   3.0
5.8         5.0   4.0
5.8         6.0   5.0
5.8         5.0   6.0
5.8         5.0   7.0
5.8         6.0   8.0
5.8         4.0   9.0
5.8         5.0  10.0
5.8         5.0  11.0
5.8         6.0  12.0
5.8         5.0  13.0
5.8         5.0  14.0
5.8         5.0  15.0
5.8         5.0  16.0